Expense_tracker_lovable interface.json
{
  "name": "Expense_tracker_lovable interface",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}\n",
        "options": {
          "systemMessage": "=You are a expense manager, analyse the input and segregate the output into four elements\n\nRemaining balance is a running total, if the expense if credit, add it to the balance, else subtract from the balance\n\n1. Type of expense (Credit/Debit)\n2. Category \n3. Amount\n4. Remaining Balance\n\nAfter every calculation, use google sheet tool to append the row. \n\nif at any point, the balance is zero or negative, send a mail that says I'm bankrupt officially. Use gmail send tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        -80
      ],
      "id": "4e5774fa-900e-47d9-962b-5bac44fbe771",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "id": "2e7a8c5f-55cb-4e19-aebd-f06227e18674",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "A954JoFwoWaBbDmF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        176
      ],
      "id": "a0ab30ef-5c4a-4284-8bc1-b1be025520fc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XU_2XuoO7ETnL1apADTvHHHaUEgwOD4TrAhbAp_s0BQ",
          "mode": "list",
          "cachedResultName": "Expense Tracker Outskill Class",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XU_2XuoO7ETnL1apADTvHHHaUEgwOD4TrAhbAp_s0BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XU_2XuoO7ETnL1apADTvHHHaUEgwOD4TrAhbAp_s0BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type of Expense": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type_of_Expense', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Remaining Balance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Remaining_Balance', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Type of Expense",
              "displayName": "Type of Expense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remaining Balance",
              "displayName": "Remaining Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        176
      ],
      "id": "ac5fcdb9-7b2f-417d-849c-e781af523e9a",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "frSiOJuJiOKr1Ivh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sandeeprakholia.niam10@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        560,
        128
      ],
      "id": "06f3c38c-b78a-441b-99a7-b6b2032744cb",
      "name": "Send a message in Gmail",
      "webhookId": "e6cdfb12-5509-4c04-9ee8-e6648046aa96",
      "credentials": {
        "gmailOAuth2": {
          "id": "HTWsURVt1rE2MaJZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4fbdf88d-33bf-4be4-acce-0192a41196b6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -80
      ],
      "id": "db556d5e-920d-45a3-ba26-c7693b497530",
      "name": "Webhook",
      "webhookId": "4fbdf88d-33bf-4be4-acce-0192a41196b6"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "911384e6-5a4f-4246-b046-c6f01adf111d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17ff48deeb5a18668bc867048a2df2c1f828902d1b700206c1f27b331debda34"
  },
  "id": "RcP9NfQUFcnHxZW6",
  "tags": []
}