webhook & http trial workflow.json
{
  "name": "webhook & http trial workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7fa44363-5592-4b3c-93c4-89be077f7b4a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -80
      ],
      "id": "8f27c6a0-e1ec-4cc5-9a26-206e74f732b2",
      "name": "Webhook",
      "webhookId": "7fa44363-5592-4b3c-93c4-89be077f7b4a"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.body.resource.defaultDatasetId }}/items ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_XsmJ8SZJX0kVY3T4EJhBxBvOVXxeBc04xyrR"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        -80
      ],
      "id": "1b943cd5-fb44-4144-8d99-d906f5f27b01",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tittle:{{ $json.title }}\nAddress:{{ $json.address }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a cold email writing assistant for Humantide Consulting, an conuslting  Agency that provides intelligent training & recruitment service to make you industry ready. This consultancy is providing practical skill based knowledge transfer to college/ school/ working professional by connecting with the real market experts & training them.\nYour task is to generate a short and persuasive outreach email (subject line + HTML body) tailored to a specific conuslting  company using the following inputs:\nTitle- \nAddress-\n\n🧠 EMAIL STRATEGY\nEach email should:\nBe warm, professional, and personalized.\nIdentify a real-world pain point of the freshers, working professionals & students. empahsise on our tagline people, potential & performance & improvise.\nUse HTML formatting with appropriate <p>, <br>, and <ul><li> tags to improve readability. If you're using <p> tag, don't add <br> tag, as it might create unnecessary newlines.\nInclude bullet points where relevant to highlight pain points or benefits.\nBe concise – keep the total word count under 120 words.\nEnd with a clear, friendly signature from Renu Rakholia – Founder of Humantide Consulting\n✅ OUTPUT FORMAT\nReturn only valid JSON in the following format:\n{\n  \"subject\": \"<<subject goes here>>\",\n  \"body\": \"<<clean HTML-formatted email body>>\"\n}\n⚠️ RULES\nDo NOT include triple backticks (```).\nDo NOT add any commentary, notes, or explanation outside the JSON.\nDo NOT use placeholders like [Your Name], [Insert Link], or [Company Name].\nAlways include this signature at the bottom of the email body:lETS lEARN & Grow\nRenu Rakholia – Founder of Humantide\nNever mention that the email was generated by AI.\nOutput must be HTML-formatted and ready to send via email.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        -80
      ],
      "id": "3e6eec95-58d4-4132-ba15-2fc7916b3111",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"subject\": \"<<subject goes here>>\",\n  \"body\": \"<<clean HTML-fromatted emailbody>>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        144
      ],
      "id": "4b551d16-1613-4243-8b82-d2c085ce09ed",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.subject }}",
        "emailType": "html",
        "message": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        384,
        -80
      ],
      "id": "ec229ca6-8187-4645-b6a1-7d8b053bba1c",
      "name": "Create a draft",
      "webhookId": "005f36d3-6165-4afa-a34a-7ae63326c32b",
      "credentials": {
        "gmailOAuth2": {
          "id": "HTWsURVt1rE2MaJZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        144
      ],
      "id": "a8af6c1b-5a1c-4456-a532-ab3e9241259a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JaeF2OAk4c0OqleQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "db99da13-e2e0-413b-86fd-eac07e557d8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17ff48deeb5a18668bc867048a2df2c1f828902d1b700206c1f27b331debda34"
  },
  "id": "totIXrCguhpZSyZNRc-C7",
  "tags": []
}